[alias]
  br  = branch
  c = commit -am
  co = checkout
  d = diff --color --color-words --abbrev
  l = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
  p = push
  s = status -s
  up = pull
[credential]
  helper = osxkeychain
