[color]
	ui = true

[color "diff"]
	commit = yellow bold
	frag = magenta bold
	func = 146 bold
	meta = 11
	new = green bold
	old = red bold
	whitespace = red reverse

[color "diff-highlight"]
	newHighlight = green bold 22
	newNormal = green bold
	oldHighlight = red bold 52
	oldNormal = red bold

[commit]
	gpgsign = true

[core]
	editor = code --wait
	pager = diff-so-fancy | less --tabs=4 -RFX

[fetch]
	prune = true

[help]
	autocorrect = 1

[includeIf "gitdir:~/Documents/private/"]
	path = ~/Documents/private/.gitconfig

[includeIf "gitdir:~/Documents/work/"]
	path = ~/Documents/work/.gitconfig

[interactive]
	diffFilter = diff-so-fancy --patch

[user]
	name = "Marco Biedermann"