[color]
	ui = true
[color "diff"]
	commit = yellow bold
	frag = magenta bold
	func = 146 bold
	meta = 11
	new = green bold
	old = red bold
	whitespace = red reverse
[color "diff-highlight"]
	newHighlight = green bold 22
	newNormal = green bold
	oldHighlight = red bold 52
	oldNormal = red bold
[commit]
	gpgsign = true
[core]
	editor = code --wait
	ignorecase = false
	pager = diff-so-fancy | less --tabs=4 -RFX
[fetch]
	prune = true
[help]
	autocorrect = 1
[init]
	defaultBranch = main
[interactive]
	diffFilter = diff-so-fancy --patch
[push]
	autoSetupRemote = true
	default = current
[user]
	email = 5244986+marcobiedermann@users.noreply.github.com.
	name = Marco Biedermann
	signingkey = 35FDF733DEED0D33
